body {
	background: #111827;
	padding-top: 10%;
	cursor: url('assets/mouse.png'), auto;
	position: relative;
	background-image: url(assets/blue.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

* {
	font-family: 'Azeret Mono', monospace;
	box-sizing: border-box;
}

#info {
	background-image: url('assets/new-plate.png');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	right: 22%;
	bottom: -80px;
	width: 300px;
	padding: 35px 35px 300px 45px;
	color: #fff;
	font-weight: 800;
	line-height: 1.5;
	display: none;
}

.crest {
	width: 350px;
	margin-top: -10px;
	margin-left: -10px;
}

.crest-shifted {
	margin-top: -40px;
}

.results {
	width: 350px;
	margin: auto auto 80px auto;
}

.faction-wrapper {
	width: 350px;
	height: 350px;
	overflow: hidden;
	border-radius: 100%;
	background: #101010;
	border: 10px solid #1c273d;
}

.faction-name {
	margin-top: -80px;
	font-size: 30px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

.picker {

	display: block;
	background-image: url('assets/button_secondary.png');
	background-size: cover;
	border: none;
	background-repeat: no-repeat;
	color: #fff;
	font-weight: 800;
	font-size: 25px;
	padding: 21px 60px 20px 60px;
	text-align: center;
	width: fit-content;
	text-transform: uppercase;
}

#minibox {
	position: relative;
	width: fit-content;
	margin: auto;
}

.fa-circle-info {
	position: absolute;
	bottom: 22px;
	right: -30px;
	color: #db3b65;
	font-size: 24px;
	transition: linear .15s;
	text-align: center;
}

.fa-circle-info:hover {
	color: #71b83b;
}

.picker:hover {
	cursor: url('assets/mouse.png');
	background-image: url('assets/button_secondary_glow.png');
}

.border-ani {
	animation: ani;
    animation-duration: .4s;
    animation-iteration-count: 5;
}

.scale-ani {
	animation: scale;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes ani {
	to {
		box-shadow: 0 0 20px 10px #333d59;
	}
}

@keyframes scale {
	to {
		transform: scale(1.05);
	}
}

#jon {
	text-align: center;
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: 30px;
}

#jon a {
	color: #db3b65;
	text-decoration: none;
	transition: linear .15s;
}

#jon a:hover {
	color: #71b83b;
}

#jonlink:hover {
	cursor: url('assets/mouse.png');
}

@media(max-width:642px) {
	.crest, .results, .faction-wrapper {
		width: 300px !important;
	}
	.crest, .faction-wrapper {
		height: 300px !important;
	}
	.crest-shifted {
		margin-top: -20px;
	}

	#info {
		right: auto;
		left: -30px;
		bottom: auto;
		top: 50px;
		z-index: 999;
	}
}